@media (max-width:800px){
    .banner-3-image-1{
        margin-top: 235px;
    }
    .section-2-head{
        font-size: 48px;
    }
    .second-main-div-2{
        margin-left: 30px;
    }
    .Signature-Pizzas-extensive-text{
        width: 300px;
    }
}