@media (max-width:1275px){
    .nav-li{
        margin-right: 70px;
    }
    .nav-li-2{
        margin-right: 70px;
    }
    .nav-li-3{
        margin-right: 35px;
    }
    .button-1{
        margin-right: 20px;
    }
}
@media(max-width:1235px){
    .nav-li{
        margin-right: 55px;
    }
    .nav-li-2{
        margin-right: 55px;
    }
    .nav-li-3{
        margin-right: 25px;
    }
}
@media(max-width:1175px){
    .LOGO{
        margin-right: 300px;
        padding-left: 67px;
    }
    .main-message-div{
        padding-left: 67px;
    }
    .second-main-message-div{
        padding-left: 67px;
        max-width: 500px;
    }
    .button-2{
        margin-left: 67px;
    }
}
@media(max-width:1070px){
    .LOGO{
        padding-top: 60px;
    }
    .button-1{
        padding: 10px 40px;
    }
    .nav-li{
        margin-right: 45px;
    }
    .nav-li-2{
        margin-right: 45px;
    }
    .nav-li-3{
        margin-right: 20px;
    }
    .second-main-div-2{
        margin-top: 190px;
    }
    .section-2-head{
        font-size: 51px;
    }
    .small-button{
        width: 40px;
        height: 40px;
    }
    .button-and-text-1{
        margin-top: 55px;
    }
    .button-and-text-2{
        margin-top: 0px;
    }
    .button-and-text-3{
        margin-top: 0px;
    }
    .order-food-button{
        margin-top: 15px;
    }
    .contact-background-div{
        width: 400px;
        height: 470px;
    }
    .full-name-div{
        margin-left: 55px;
    }
    .full-name-input{
        width: 290px;
    }
    .Phone-Number-div{
        margin-left: 55px;
    }
    .Phone-Number-input{
        width: 290px;
    }
    .description-div{
        margin-left: 55px;
    }
    .description{
        width: 290px;
    }
    .checkbox{
        margin-left: 51px;
    }
    .submit-button{
        margin-left: 112px;
        margin-top: 20px;
    }
    .map{
        height: 480px;
    }
    .footer-main-div{
        height: 300px;
    }
    .footer-logo{
        margin-left: 120px;
    }
}
@media(max-width:1060px){
    .LOGO{
        padding-left: 37px;
    }
    .main-message-div{
        padding-left: 37px;
        margin-top: 28px;
    }
    .main-message{
        font-size: 51px;
    }
    .main-message-span{
        font-size: 51px;
    }
    .second-main-message-div{
        padding-left: 37px;
    }
    .second-main-message{
        font-size: 16px;
    }
    .button-2{
        margin-left: 37px;
        padding: 10px 40px;
    }
}
@media(max-width:1030px){
    .nav-li{
        font-size: 17px;
    }
    .nav-li-2{
        font-size: 17px;
    }
    .nav-li-3{
        font-size: 17px;
    }
}
@media(max-width:994px){
    .LOGO{
        margin-right: 240px;
    }
    .button-and-text-1{
        margin-top: 25px;
        height: 40px;
    }
    .signature-pizzas{
        font-size: 23px;
    }
    .Signature-Pizzas-extensive-text{
        font-size: 14px;
    }
    .button-and-text-2{
        height: 40px;
        margin-top: 10px;
    }
    .Oven-Baked-Subs{
        font-size: 23px;
    }
    .Oven-Baked-Subs-extensive-text{
        font-size: 14px;
    }
    .button-and-text-3{
        height: 40px;
    }
    .Wings-Sides-and-More{
        font-size: 23px;
    }
    .Wings-Sides-and-More-extensive-text{
        font-size: 14px;
    }
    .order-food-button{
        padding: 0px 40px;
        height: 55px;
    }
}
@media(max-width:936px){
    .button-1{
        padding: 0px 40px;
        height: 55px;
        font-size: 18px;
    }
    .button-2{
        height: 55px;
        padding: 0px 40px;
        font-size: 18px;
    }
    .LOGO{
        margin-right: 220px;
    }
}
@media(max-width:908px){
    .button-1{
        height: 50px;
        margin-top: 43px;
        padding: 0px 30px;
    }
    .nav-li{
        margin-right: 35px;
    }
    .nav-li-2{
        margin-right: 35px;
    }
    .nav-li-3{
        margin-right: 12px;
    }
    .LOGO{
        font-size: 35px;
    }
    .main-message-div{
        width: 370px;
    }
    .main-message{
        font-size: 41px;
    }
    .main-message-span{
        font-size: 41px;
    }
    .second-main-message-div{
        width: 370px;
    }
    .second-main-message{
        font-size: 14px;
    }
    .button-2{
        padding: 0px 30px;
        height: 50px;
    }
    .order-food-button{
        padding: 0px 30px;
        height: 50px;
    }
}
@media(max-width:894px){
    .footer-icons-div{
        margin-left: 85px;
    }
}
@media (max-width:886px){
    .second-main-div-2{
        margin-left: 40px;
    }
    .footer-logo{
        margin-left: 40px;
    }
    .footer-contact-div{
        margin-left: 40px;
    }
    .footer-menu-div{
        margin-left: 40px;
    }
    .footer-icons-div{
        margin-left: 40px;
    }
    .contact-background-div{
        margin-left: 253px;
    }
    .footer-main-div{
        height: 280px;
    }
    .plans-text{
        font-size: 51px;
        margin-top: 74px;
    }
    .banner-3-image-1{
        margin-top: 769px;
    }
    .banner-3-image-2{
        margin-top: 188px;
    }
    .contact-us-text-div{
        margin-top: 600px;
    }
}
@media(max-width:844px){
    .nav-div{
        height: 153px;
    }
    .second-section-main-div{
        margin-top: 10px;
    }
    .LOGO{
        margin-right: 180px;
    }
}
@media(max-width:830px){
    .LOGO{
        margin-right: 170px;
    }
}
@media (max-width:800px){
    .section-2-head{
        font-size: 48px;
    }
    .second-main-div-2{
        margin-left: 30px;
    }
    .Signature-Pizzas-extensive-text{
        width: 300px;
    }
}
@media(max-width:796px){
    .nav-li{
        margin-right: 25px;
    }
    .nav-li-2{
        margin-right: 25px;
    }
    .nav-li-3{
        margin-right: 0px;
    }
    .LOGO{
        margin-right: 165px;
    }
}
@media(max-width:768px){
    .LOGO{
        margin-right: 0px;
    }
    .button-1{
        margin-top: 57px;
        height: 45px;
        margin-right: 80px;
    }
    .button-2{
        margin-left: 290px;
        margin-top: 60px;
    }
    .toggle-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .contact-background-div{
        margin-left: 184px;
    }
    .contact-us-text-div{
        margin-left: 224px;
    }
    .second-section-main-div{
        display: block;
    }
    .banner-2{
        width: 90%;
    }
    .second-main-div-2{
        margin-left: 170px;
    }
    .signature-pizzas{
        max-width: 250px;
        font-size: 30px;
    }
    .Signature-Pizzas-extensive-text{
        margin-top: 15px;
    }
    .button-and-text-2{
        margin-top: 20px;
    }
    .Oven-Baked-Subs{
        font-size: 30px;
        max-width: 250px;
    }
    .Oven-Baked-Subs-extensive-text{
        margin-top: 15px;
    }
    .Wings-Sides-and-More-extensive-text{
        margin-top: 45px;
    }
    .button-and-text-3{
        margin-top: 10px;
    }
    .Wings-Sides-and-More{
        font-size: 30px;
    }
    .order-food-button{
        margin-top: 35px;
    }
    .button-and-text-1{
        margin-top: 45px;
    }
    .header-word1{
        display: none;
    }
    .header-word2{
        display: none;
    }
    .header-word3{
        display: none;
    }
    .main-message-div{
        margin-top: 360px;
        margin-left: 200px;
        padding-left: 0px;
        width: 410px;
    }
    .main-message{
        font-size: 55px;
    }
    .main-message-span{
        font-size: 55px;
    }
    .second-main-message-div{
        margin-left: 200px;
        padding-left: 0px;
    }
    .second-main-message{
        margin-top: 35px;
        font-size: 17px;
    }
}
@media(max-width:724px){
    .main-message-div{
        margin-left: 145px;
    }
    .main-message{
        margin-left: 145px;
    }
    .button-2{
        margin-left: 282px;
    }
    .contact-background-div{
        margin-left: 154px;
    }
    .contact-us-text-div{
        margin-left: 170px;
    }
}
@media(max-width:680px){
    .header-banner{
        width: 75%;
    }
    .LOGO{
        padding-top: 0px;
        padding-left: 0px;
        margin-top: 150px;
        margin-left: 75px;
    }
    .contact-background-div{
        margin-left: 140px;
    }
    .contact-us-text-div{
        margin-left: 160px;
    }
    .main-message-div{
        margin-left: 135px;
    }
    .main-message{
        margin-left: 135px;
    }
    .button-2{
        margin-left: 260px;
    }
}
@media(max-width:644px){
    .main-message {
        margin-left: 0px;
    }
    .footer-contact-div {
        margin-left: 20px;
    }
    .footer-menu-div {
        margin-left: 20px;
    }
    .footer-icons-div {
        margin-left: 30px;
    }
}
@media(max-width:636px){
    .main-message {
        margin-left: 0px;
    }
    .footer-logo {
        margin-left: 20px;
        font-size: 30px;
    }
    .contact-background-div {
        margin-left: 130px;
    }
    .contact-us-text-div{
        margin-left: 140px;
    }
    .banner-3-image-1 {
        width: 85%;
        margin-top: 709px;
    }
    .banner-3-image-1:hover{
        transform: scale(1.1);
    }
    .banner-3-image-2 {
        width: 85%;
    }
    .banner-3-image-2:hover{
        transform: scale(1.1);
    }
}
@media(max-width:588px){
    .contact-background-div {
        margin-left: 94px;
    }
    .contact-us-text-div{
        margin-left: 114px;
    }
    .banner-3-image-1 {
        width: 75%;
        margin-top: 590px;
    }
    .banner-3-image-1:hover{
        transform: scale(1.1);
    }
    .banner-3-image-2 {
        width: 75%;
    }
    .banner-3-image-2:hover{
        transform: scale(1.1);
    }
    .footer-main-div{
        display: block;
        height: 800px;
    }
    .second-main-div-2 {
        margin-left: 70px;
    }
    .footer-logo {
        margin-left: 120px;
    }
    .button-1 {
        font-size: 14px;
        margin-top: 30px;
        height: 40px;
    }
    .toggle-menu {
        top: 30px;
    }
    .main-message {
        margin-left: 0px;
    }
}